<nav  th:fragment="menu-principal" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/">Escuela</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link active" href="/">Inicio</a>
          </li>

        </ul>
        <a class="btn btn-primary" href="">Ingresar</a>&nbsp; <a
          class="btn btn-primary" href="/registrarse">Registrarse</a>
        <a class="btn btn-primary" th:href="@{/logout}"
          style="margin-left: 5px">Salir</a>
      </div>
      </div>
    </nav>
    
    
    <!-- (para usarlo en los HTML 
    <header th:insert="fragments/menu :: menu-principal">
      
    </header>
     -->