<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- Bootstrap core CSS -->
<link th:href="@{bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<!-- Custom styles for this template -->
<link th:href="@{bootstrap/css/jumbotron.css}" rel="stylesheet">
<link th:href="@{bootstrap/css/sticky-footer-navbar.css}"
	rel="stylesheet">
</head>
<body>

	<header th:insert="fragments/menu :: menu-principal">
      
    </header>
    
	<h1 style="margin-top: 25px; margin-left:50px; margin-bottom:20px" class="display-4">Detalles de la carrera de contabilidad.</h1>
		<div class="row justify-content-around" style="padding-bottom:20px">
		<div class="col-sm-7">
	<p class="text-justify">En el contexto (regional/nacional) la formación de técnicos en: contabilidad es relevante porque: en la actualidad todo ente económico requiere los servicios de un especialista, que lleve a cabo el registro sistemático de las operaciones económicas de entidades comerciales, industriales y de servicios; en un sistema manual y electrónico a través de software especializado para contar con información financiera veraz y oportuna que les permita la toma de decisiones; además de cumplir con las disposiciones fiscales vigentes, considerando a las características propias de la entidad, determinar los pagos de nómina de sus empleados, así como en el análisis de los diferentes procesos que se llevan a cabo en las áreas de la empresa con el propósito de establecer mecanismos de control interno.</p>

	<p class="text-justify">La carrera de Técnico en Contabilidad desarrolla en el estudiante las siguientes:</p>

	<ul>
		<li>Desarrolla software de aplicación con programación estructurada</li>
		<li>Aplica metodologías de desarrollo de software utilizando herramientas de programación visual</li>
		<li>Desarrolla aplicaciones Web</li>
		<li>Desarrolla software de aplicación Web con almacenamiento persistente de datos</li>
		<li>Desarrolla aplicaciones para dispositivos móviles</li>
		

	</ul>
		
		<a href="/materiasContabilidad" class="btn btn-outline-primary" style="margin-left:25px">Ver materias</a>
			</div>
	
		<div class="col-sm-3">
			<img src="img/logo21.png">
		
		</div>
		</div >

<footer class="footer" th:insert="fragments/footer :: pie-pagina">

    </footer>
</body>
</html>