<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>EmpleosApp | Creación de Ofertas de Trabajo</title>
    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="bootstrap/css/jumbotron.css" rel="stylesheet">
    <link href="bootstrap/css/sticky-footer-navbar.css" rel="stylesheet">
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" >
  </head>

  <body>

    <header th:insert="fragments/menu :: menu-principal">
      
    </header>

    <main role="main">     
      <hr>
      <div class="container"> 

        <div class="card">
          <h4 class="card-header"><strong>Datos de la Asignatura</strong></h4>              
          <div class="card-body">
            <form>              
              <div class="row">
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Titulo de la Asignatura" required="required">
                  </div>
                </div>
               
              </div>    
             
              <hr>
              <div class="row">
                <div class="col-md-9"> 
                  <div class="form-group">
                    <label for="detalles"><strong>Detalles</strong></label>          
                    <textarea class="form-control" name="detalles" id="detalles" rows="7"></textarea>
                  </div> 
                </div> 
                
              </div> 
              <button type="submit" class="btn btn-primary">Guardar</button>  
            </form>
          </div>
        </div>
      </div> <!-- /container -->

    </main>

  <footer class="footer" th:insert="fragments/footer :: pie-pagina">

    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>    
    <script src="tinymce/tinymce.min.js"></script>
    <script>
      
      $(function () {
          $("#fecha").datepicker({dateFormat: 'dd-mm-yy'});
        }
      );
      
      
      tinymce.init({
          selector: '#detalles',
          plugins: "textcolor, table lists code",
          toolbar: " undo redo | bold italic | alignleft aligncenter alignright alignjustify \n\
                    | bullist numlist outdent indent | forecolor backcolor table code"
      });
      
      
      
    </script>
  </body>
</html>